# Required to run your project under the correct environment.
language: php

# Versions of PHP you want your project run with.
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3

# Commands you want to run that will verify your build.
script: phpunit

# allow_failures: Allow this build to fail under the specified environments.
# fast_finish: If your build fails do not continue trying to build, just stop.
matrix:
#  allow_failures:
#    - php: 5.6
#    - php: 7.0
#    - php: 7.1
  fast_finish: true

# Customize when the notification emails are sent.
notifications:
    on_success: never
    on_failure: always